.idea/
/course-info.yaml
/course-remote-info.yaml
/Coffee Machine/Action!/
/Coffee Machine/Brush up your code/
/Coffee Machine/Enough coffee for everyone/
/Coffee Machine/Hello, coffee!/
/Coffee Machine/Machines have needs/
/Coffee Machine/On a coffee loop/
/Coffee Machine/lesson-info.yaml

/Coffee Machine/task/build/reports/
